/* global styles for orgchart */
.orgchart-container {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  background-color: #F5F6FA;
  margin-top: 36px;
}

.orgchart {
  box-sizing: border-box;
  display: inline-block;
  background-size: 10px 10px;
  padding: 20px 20px 0 20px;
}

.orgchart-container .hidden {
  display: none!important;
}

.orgchart-container > .oc-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.orgchart-container > .oc-mask .spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.orgchart-container > .oc-mask .spinner::before {
  width: 100px;
  height: 100px;
  border-width: 10px;
  border-radius: 50px;
  border-top-color: rgba(68, 157, 68, 0.8);
  border-bottom-color: rgba(68, 157, 68, 0.8);
  border-left-color: rgba(68, 157, 68, 0.8);
}
