.title-container {
    padding: 20px 10px;
    background: #EFF4FF;
    border: 1px solid #E0E0E0;
    overflow: auto;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
}

.title-container-hover {
    border: 2px solid #0154ff;
    box-sizing: border-box;
    padding: 19px 9px;
}

.title-department-container {
    padding: 11px 10px;
}

.title-department-container-hover {
    padding: 10px 9px !important;
    border: 2px solid #0154ff;
    box-sizing: border-box;
}

.num-of-child-btn {
    margin-left: auto;
    font-size: 12px;
    padding: 0 3px;
    line-height: 14px;
    height: 20px;
    border-radius: 4px;
}

.expand-icon {
    margin: 0 8px 0 -2px;
    font-size: 16px !important;
}

.department-icon {
    font-size: 16px !important;
}

.info-avatar {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 20px;
}

.list-child {
    padding: 6px 10px;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 8px;
}

.secondary-text {
    color: #6C738D;
    font-size: 12px;
}

.divider {
    margin: 0;
    height: 2px;
    width: 100%;
    border: 1px solid #E1E1E1;
}

.item-detail {
    padding: 8px 0;
    border: 2px solid white;
    cursor: pointer;
    height: 86px;
    border-radius: 4px;
}

.item-detail-drop {
    padding: 8px 0;
    border: 2px solid #0154ff;
    box-sizing: border-box;
}

.item-detail:hover {
    padding: 8px 0;
    cursor: pointer;
    background-color: #F5F6FA;
}

.toolbar {
    margin-left: auto;
    font-size: 16px;
    margin-right: 8px;

    .icon-btn {
        margin-left: 8px;
        color: rgba(27, 34, 45, 0.62);
        font-size: 18px;
        border-radius: 50%;
    }

    .icon-btn:hover {
        background-color: rgba(64, 66, 69, 0.1);
    }
}

.menu-add {
    width: 215px;
    font-size: 14px;
    border: none;
}


.menu-item-content {
    margin-left: 10px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    color: #2C3E5B;
}

.menu-item-container:hover, .menu-item-container:active {
    background-color: #F5F6FA;
    color: #2C3E5B;
}

.empty {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        height: 60px;
    }

    > p {
        color: #6C738D;
        font-size: 14px;
    }
}

.top-bar-drop {
    transform: translateY(-60%);
    height: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.top-bar-drop-hover {
    height: 6px;
    width: 100%;
    background-color: #0154FF;
}

.top-bar-drop-node {
    transform: translateY(-60%);
    height: 16px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.top-bar-drop-node-hover {
    height: 6px;
    width: 100%;
    background-color: #0154FF;
}

.bottom-bar-drop-node {
    transform: translateY(-50%);
    height: 16px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.bottom-bar-drop-node-hover {
    height: 6px;
    width: 100%;
    background-color: #0154FF;
}