.container {
    padding: 16px 24px;
    display: flex;
    margin-left: 300px;
}

.search-box {
    width: 300px;
}

.zoom-container {
    margin: 0 20px;
}

.zoom-btn {
    color: rgba(0, 0, 0, 0.54);
}

.percent-btn {
    padding: 0 10px !important;
}

.collapse-btn {
    width: 32px;
    height: 32px;
    padding: 2px 0 0 0 !important;
}

.back-all-chart {
    background-color: #686869;
    color: white;
    margin-left: 20px;
}

.back-all-chart:hover, .back-all-chart:active, .back-all-chart:focus {
    background-color: #686869;
    color: white;
}