.menu-add {
    width: 215px;
    font-size: 14px;
    border: none;
}


.menu-item-content {
    margin-left: 10px;
}

.menu-item-container {
    display: flex;
    align-items: center;
    color: #2C3E5B;
}

.menu-item-container:hover, .menu-item-container:active {
    background-color: #F5F6FA;
    color: #2C3E5B;
}

.react-org-chart-container {
    height: 100%;
    width: 100%;    
}

.drag-node-container {
    display: flex;

    .left-bar-node {
        width: 10px;
        margin-right: 1px;
    }

    .right-bar-node {
        width: 10px;
        margin-left: 1px;
    }

    .sidebar-dragging {
        background-color: #0154ff;
    }
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .info-avatar {
        width: 32px;
        height: 32px;
        object-fit: contain;
        margin-right: 20px;
    }
}

.toolbar {
    visibility: hidden;
    margin-left: auto;

    .icon-btn {
        margin-left: 5px;
        color: rgba(27, 34, 45, 0.62);
        font-size: 16px;
        border-radius: 50%;
    }

    .icon-btn:hover {
        background-color: rgba(64, 66, 69, 0.1);
    }
}

.toolbar-show {
    visibility: visible !important;
}

.extra-btn {
    margin-left: 5px;
    padding: 0 6px;
    font-size: 12px;
    line-height: 14px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-btn-icon {
    font-size: 16px !important;
    margin-right: -4px;
}

.extra {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7px;
}

.add-btn, .add-btn:active, .add-btn:focus, .add-btn:hover {
    background: #0154ff;
    border-radius: 2px;
    color: white;
    height: 16px;
    width: 16px;
    padding: 0;
    border: none;
}

.add-icon {
    font-size: 10px !important;
    margin-bottom: 6px;
}

.add-superior-container {
    position: absolute;
    top: 4px;
    left: 100px;
    transform: translateY(-100%);
    z-index: 1;
}

.add-inferior-container {
    position: absolute;
    bottom: 1px;
    left: 100px;
    transform: translateY(100%);
    z-index: 1;
}

.department-toolbar {
    .icon-btn {
        margin-top: 5px;
        color: rgba(27, 34, 45, 0.62);
        font-size: 16px;
        border-radius: 50%;
    }

    .icon-btn:hover {
        background-color: rgba(64, 66, 69, 0.1);
    }
}

.assistant-title {
    background: #F7F7F7;
    // margin-top: -2px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;

}

.assistant-icon {
    margin-right: 5px;
}

.assistant-info {
    padding: 10px !important;
}

.assistant-name {
    margin-top: -2px;
    margin-bottom: 5px;
}

.department-role-container {
    background-color: #eff4ff;

    .department-name {
        font-weight: 500;
    }

    .department-id {
        color: #6C738D;
        font-size: 12px;
    }
}

.multi-user-title {
    color: #0154FF;
}

.multi-user-info {
    color: #9FA4B5;
}

.tooltip-row {
    > svg {
       font-size: 16px;
       margin-right: 5px;
    }
}