.node-role-container {
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 220px;
    background: #ffffff;
    color: #2c3e5b;
    font-size: 14px;

    .ant-card-body {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

}

.assistant-role-container > .ant-card-body{
    padding: 0 !important;
    
}

.node-role-container-hover {
    border: 2px solid #0154ff;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px #dddddd;
}

.node-role-container:hover,
.node-role-container:active {
    border: 2px solid #0154ff;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px #dddddd;
}

.myChart {
    height: 100%;
    width: 100%;

    > ul {
        justify-content: center;
    }
}
