.input-container {
    padding: 0 24px 16px 24px;
}

.info-container {
    padding: 16px 24px;
}

.select-drawer {
    width: 100%;
    margin-top: 25px;
}

.option-item-null {
    color: #6c738d;
    font-weight: 500;
    height: 50px;
    align-items: center;
    display: flex;
}

.add-user-btn {
    color: #0154ff;
    padding-left: 10px;
    margin-top: 5px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 15px;
}

.user-name {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    color: #2c3e5b;
}

.user-role {
    font-size: 12px;
}

.option-item {
    display: flex;
    height: 50px;
    align-items: center;
    color: #6c738d;
}

.user-avatar-selected {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-right: 15px;
}

.user-name-selected {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    color: #2c3e5b;
}

.item-selected-container {
    align-items: center;
}

.info-input {
    margin-top: 25px;
}

.header-info {
    background-color: #F2F2F2;
    font-weight: 500;
    font-size: 14px;
    padding: 16px 24px;
    color: #2C3E5B;
}

.department-name {
    width: 100%;
}
