.title {
    color: #6c738d;
    font-weight: 500;
    font-size: 16px;
}

.group-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #E8E8E8;
    padding: 10px 20px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    height: 55px;
}

.save-btn, .save-btn:hover, .save-btn:active, .save-btn:focus {
    background: #4345B1;
    border-radius: 4px;
    color: white;
    margin-left: 20px;
}

.close-btn, .close-btn:hover, .close-btn:active, .close-btn:focus {
    color: #4345B1;
    background: #FFFFFF;
    border-radius: 4px;
}
