.node-drawer-container {
    .ant-drawer-body {
        padding: 16px 0 0 0;
        height: calc(100% - 55px - 55px);
        overflow: hidden;
    }

    .ant-drawer-content {
        overflow: hidden;
    }

    .ant-drawer-header {
        height: 55px;
    }
}