.container {
    width: 79px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 2px solid transparent;
    margin: 0 5px;
    background-color: white;
}

.container:hover {
    color: #0154FF !important;
    border: 2px solid #9FBFFF;
    cursor: pointer;
    
    > .label {
        color: #0154FF !important;
    }
}

.label {
    color: #000000;
}
