.sidebar {
    width: 300px;
    z-index: 1;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
}

.listType {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.icon-btn {
    color: #969BAC;
    font-size: 18px !important;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}

.icon-btn:hover {
    background-color: rgba(64,66,69,.1);
}

.searchbar-toolbar {
    padding-top: 2px;
}

.list-user-container {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    overflow: auto;
}

.user-info {
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    border: 2px solid transparent;
}

.user-info:hover {
    border: 2px solid #9FBFFF;
    background: rgba(1, 84, 255, 0.1);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 15px;
}

.user-name {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 222px;
    white-space: nowrap;
    color: #2C3E5B;
}

.btn-toggle-sidebar {
    position: absolute;
    top: 60px;
    right: 0;
    transform: translateX(100%);
    height: 40px;
    width: 24px;
    color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}

.btn-toggle-sidebar:focus {
    color: rgba(0, 0, 0, 0.65) !important;
    border: 1px solid transparent !important;
}

.sidebar-hide {
    transform: translateX(-100%);
}