.container {
    padding: 0 24px;
    color: #2C3E5B;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-icon {
    font-size: 16px !important;
    color: #0154ff;
    margin: -2px 5px 0 0;
}

.list-child-container {
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-top: 20px;
    overflow: auto;
}